<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">dit</property>
        <property name="hibernate.connection.password">dit</property>
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.1.45:5432/dit</property>
        
        <mapping resource="Dato.hbm.xml"></mapping>
        <mapping resource="Vehiculo.hbm.xml"></mapping>
		<mapping resource="Tipo.hbm.xml"></mapping>

    </session-factory>
</hibernate-configuration>
